
<!--<div class="card text-center col-sm-3 px-0 my-4">-->
<div class="card text-center w-100 ">
  <img class="card-img-top" src="<%= asset_path profile_img %>">
  <div class="card-header text-center">
    <h6 class="card-subtitle text-muted"><%= position %></h6>
    <h6 class="card-subtitle mt-1 text-muted"><%= email %></h6>
    <h5 class="card-title mt-1 mb-0"><%= name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= description %></p>
  </div>
</div>